body {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgb(75, 99, 110);
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: aliceblue;;
    
}

.topbar {
    background-color: rgb(232, 101, 106);
    display: flex;
    padding: 20px 10px;
    color: aliceblue;
}

.logo {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

.search-section{
    display: flex;
    justify-content: center;
    gap: 20px;    
}

#search-box {
    width: 400px;
    height: 40px;
}

select {
    display: inline-block !important;
}

#category-box{
    width: 200px;
    height: 40px;
    padding: 8px 12px;
    font-size: 18px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333;
    outline: none;   
}

#category-box:hover {
    background-color: rgb(243, 175, 86);
    color: rgb(243, 248, 244);
    border-color: grey; 
}

.search-section button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
}


/* =======Carousel Style ========= */
.carousel-content img {
    width: 200px;
    height: 280px;
    border-radius: 10px;
    background: rgb(203, 193, 193);   
}

.carousel {
    position: relative;
    padding: 0px;
}

.caption h3{  
    position: absolute;
    bottom: 150px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px; 

}

.caption p {
    position: relative;
    bottom: 15px;
    font-size: 12px; 
    left: 5px;
}

button:hover {
    background-color: rgb(243, 175, 86);
    color: rgb(243, 248, 244);
    border-color: grey;
}
button:active {
    font-size: 100%;
    background-color: 0 0 10px brown;
}
button:focus {
    outline: none;
    background-color: rgb(165, 81, 12);
    color:white;
}

#search-box:hover{
    background-color:rgb(243, 175, 86);;
    color: rgb(243, 248, 244);
    border-color: grey;
    transition: all ease 0.3s;
}

.bottom-bar h4{
    position: relative;
    background-color: rgb(232, 101, 106);
    padding: 15px;
    font-size: 15px;
    text-align: center;
    color: aliceblue;
    margin: 0;
}
