body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  padding: 20px;
}

.topbar {
  background-color: rgb(235, 239, 242);
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.logo {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}
 
.search-section{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 20px;    
}

#search-box {
    width: 400px;
    height: 22px;
}

.placeholder:hover {
    color:rgb(156, 22, 22);
}
#category-box{
    width: 300px;
    font-size: 22px;
}
#category-box:hover {
   background-color: rgb(165, 66, 12);
    color: rgb(243, 248, 244);
    border-color: grey; 
}
button:hover {
  background-color: rgb(165, 81, 12);
    color: rgb(243, 248, 244);
    border-color: grey;
}
button:active {
    font-size: 100%;
    background-color: 0 0 10px brown;
}
button:focus {
    outline: none;
    background-color: rgb(165, 81, 12);
    color:white;
}
.search-section button {
  width: 100px;
  height: 28px;
}
.search-box:hover{
    background-color: rgb(165, 81, 12);
    color: rgb(243, 248, 244);
    border-color: grey;
    transition: all ease 0.3s;
}

.row-cards {
    display: flex;
    flex-wrap: center;     
    justify-content: center;
    gap: 30px;            
    padding: 10px 60px 40px 60px;
}

.card {
  width: 150px;
  height: 200px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 10px;
}
.card:hover{
  font-size: 2.3rem;
  color: #e4dddd; 
  background-color: rgb(165, 81, 12); 
  transition: all ease 0.3s;  
}

footer {
    background-color: rgb(235, 239, 242);
    padding: 1px;
    font-size: 12px;
    text-align: center;
}
